h1{
    text-align: center;
    font-size: 30px;
 
     color: rgb(255,111,119);
     font-family: cursive;

    
}
h2{
    text-align: center;
    font-size: 30px;
 
     color: rgb(255,111,119);
     font-family: cursive;

    
}


h5{
    text-align: left;
    font-size: 30px;
 
     color: rgb(255,111,119);
     font-family: cursive;

}


body{
    background-color: pink;
       display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
p{
   text-align: center;
   font-size: 50px;

    color: rgb(255,111,119);
    font-family: cursive;

}
.cat-img {
    width: 30rem;
    height: 30rem;
    margin-bottom: 2rem;
}
.center{
     display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
   
}
.button-group{
   text-align: center;
   vertical-align: middle;
}
#no{
    position: absolute;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
